.about1{
  background-image: 
  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3634%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3635)'%3e%3c/rect%3e%3ccircle r='33.46' cx='1253.45' cy='317.16' fill='url(%23SvgjsLinearGradient3636)'%3e%3c/circle%3e%3ccircle r='53.625' cx='220.59' cy='544.54' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='14.25' cx='194.57' cy='339.37' fill='url(%23SvgjsLinearGradient3637)'%3e%3c/circle%3e%3ccircle r='54.37' cx='1157.8' cy='531.24' fill='url(%23SvgjsLinearGradient3638)'%3e%3c/circle%3e%3ccircle r='31.94' cx='963.57' cy='270.62' fill='url(%23SvgjsLinearGradient3639)'%3e%3c/circle%3e%3ccircle r='39.24' cx='1390.13' cy='192.16' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='46.285' cx='531.29' cy='391.85' fill='url(%23SvgjsLinearGradient3640)'%3e%3c/circle%3e%3ccircle r='41.955' cx='224.47' cy='83.98' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='37.625' cx='245.87' cy='148.08' fill='url(%23SvgjsLinearGradient3641)'%3e%3c/circle%3e%3ccircle r='23.95' cx='71.58' cy='252.2' fill='url(%23SvgjsLinearGradient3642)'%3e%3c/circle%3e%3ccircle r='25.36' cx='1412.43' cy='303.08' fill='url(%23SvgjsLinearGradient3643)'%3e%3c/circle%3e%3ccircle r='16.65' cx='262.34' cy='478.93' fill='url(%23SvgjsLinearGradient3644)'%3e%3c/circle%3e%3ccircle r='38.17' cx='792.16' cy='240.7' fill='url(%23SvgjsLinearGradient3645)'%3e%3c/circle%3e%3ccircle r='52.56' cx='457.68' cy='94.87' fill='url(%23SvgjsLinearGradient3646)'%3e%3c/circle%3e%3ccircle r='45.435' cx='200.44' cy='8.71' fill='url(%23SvgjsLinearGradient3647)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3634'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3635'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.16'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.29'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.38'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.48'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.6'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.7'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.81'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1186.53' y1='317.16' x2='1320.37' y2='317.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3636'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(60%2c 65%2c 150%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='166.07' y1='339.37' x2='223.07' y2='339.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3637'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1049.06' y1='531.24' x2='1266.54' y2='531.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3638'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 43%2c 112%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='899.69' y1='270.62' x2='1027.45' y2='270.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3639'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 68%2c 158%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='438.71999999999997' y1='391.85' x2='623.8599999999999' y2='391.85' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3640'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='170.62' y1='148.08' x2='321.12' y2='148.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3641'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='23.68' y1='252.2' x2='119.47999999999999' y2='252.2' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3642'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(60%2c 65%2c 150%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1361.71' y1='303.08' x2='1463.15' y2='303.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3643'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 43%2c 112%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='229.03999999999996' y1='478.93' x2='295.64' y2='478.93' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3644'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='715.8199999999999' y1='240.7' x2='868.5' y2='240.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3645'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 43%2c 112%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='352.56' y1='94.87' x2='562.8' y2='94.87' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3646'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='109.57' y1='8.710000000000008' x2='291.31' y2='8.710000000000008' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3647'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(60%2c 65%2c 150%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    width: 100%;margin-top:100px
    


}
.inp{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
.container1 {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-right: 40%;


  }
  .border1 {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border1:hover {
    border: 1px solid #fff;
  }
  .cards1 {
     height: 579px;
     width: 500px;
     background: #808080;
     border-radius: 10px;
     transition: background 0.8s;
     overflow: hidden;
     background: #000;
     box-shadow: 0 70px 63px -60px #000;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     margin: 10px;
     margin-left:200px     ;
     border-radius:  100px;
     -webkit-border-radius:  100px;
     -moz-border-radius:  100px;
     -ms-border-radius:  100px;
     -o-border-radius:  100px;
}
  .cards2 {
    height: 579px;
    width: 500px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
    border-radius:  100px;
    -webkit-border-radius:  100px;
    -moz-border-radius:  100px;
    -ms-border-radius:  100px;
    -o-border-radius:  100px;
  }
  .cards0 {
    background: url("armaan.jpeg") center center no-repeat;
    background-size: 1000px;
  }
  .cards0:hover {
    background: url("bg1 (3).jpg") left center no-repeat;
    background-size: 800px;
  }
  .cards0:hover h2 {
    opacity: 1;
  }
  .cards0:hover .fa {
    opacity: 1;
  }
  .cards2 {
    background: url("Screenshot (23).png") center center no-repeat;
    background-size: 500px;
  }
  .cards2:hover {
    background: url("armaan.jpeg") center center no-repeat;
    background-size: 500px;
  }
  .cards2:hover h2 {
    opacity: 1;
  }
  .cards2:hover .fa {
    opacity: 1;
  }
  .cards1 {
    background: url("Screenshot (23).png") center center no-repeat;
    background-size: 500px;
  }
  .cards1:hover {
    background: url("armaan1.jpeg") center center no-repeat;
    background-size: 500px;
  }
  .cards1:hover h2 {
    opacity: 1;
  }
  .cards1:hover .fa {
    opacity: 1;
  }
  
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
